@CHARSET "ISO-8859-1";

	.navbar-default{
		background-color:rgb(24,56,7);
	}

	.fontColor{
		color: rgb(187,250,117);
	}

	.menuBackColor{
		color: rgb(24,56,7);
	}

	.positionCenter{
		padding-top: 9px;
		padding-bottom: 9px;
	}